* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}    

html {
    width: auto;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: whitesmoke;
    width: 100vw;
    overflow-x: hidden;
    background-image: linear-gradient(to top, rgba(255, 154, 158, 0.75) 0%, rgba(254, 207, 239, 0.75) 99%, rgba(254, 207, 239, 0.75) 100%);
}

.header {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: rown;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header__logo {
    width: auto;
    height: 100px;
    margin: 25px;
}

.header__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.header__li {
    margin: 10px;
    padding: 10px;
}

.header__li a {
    color: palevioletred;
    padding: 10px;
    text-decoration: none;
}

.header__li a:hover {
    color: white;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: palevioletred;
    width: auto;
    color: whitesmoke;
    width: 100vw;
    margin: 0px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100vw;
}

.intro__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.intro__video {
    width: 100vw;
    height: auto;
    z-index: 1;
}

.intro__texto {
    margin: 0;
    padding: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px 0px 0px 0pxsolid rgba(255, 255, 255, 0.5);
    z-index: 2;
    position: absolute;
}

.intro__texto__h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 40px;
    color: white;
}

.intro__texto__p {
    width: 100vw;
}

.intro__yo {
    width: 700px;
    height: 500px;
    margin: 50px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px palevioletred;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.intro__yo:hover, .intro__yo:focus, .intro__yo:active {
    box-shadow: 0 0 50px palevioletred;
}

.container-fluid {
    width: 100vw;
    margin: 0;
    padding: 0;
}

#carouselExampleIndicators {
    margin: 100px 0px;
    padding: 0;
    width: 100vw;
}

.contenedor__one {
    display: flex;
    background-image: url(../img/img/pexels-kinkate-208052.jpg);
    background-size: cover;
    width: 100vw;
    height: 500px;
}

.one {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.75);
}

.one__icon {
    height: 300px;
    width: auto;
    padding: 50px;
}

.one__p {
    font-size: 30px;
    font-weight: bolder;
    color: palevioletred;
    margin: 50px;
    padding: 50px;
    text-align: center;
}

.two {
    display: flex;
    flex-direction: row-reverse;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.two__icon {
    height: 300px;
    width: auto;
    padding: 50px;
}

.two__p {
    font-size: 20px;
    color: whitesmoke;
    background-color: palevioletred;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}

.three {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.three__icon {
    height: 300px;
    width: auto;
    padding: 50px;
}

.three__p {
    font-size: 20px;
    color: whitesmoke;
    background-color: palevioletred;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}

.footer {
	display: flex;
	height: auto;
    width: 100vw;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: palevioletred;
    color: antiquewhite;
    font-size: 20px;
}

.footer__p {
	margin: 20px;
	padding: 20px;
}

.btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

}

.btns__face {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-radius: 30px;
	border-color: white;
	background-color: white;
	}

.btns__insta {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-radius: 30px;
	border-color: white;
	background-color: white;
}

.btns__twitter {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-radius: 30px;
	border-color: white;
	background-color: white;
}

.hvr-shutter-out-horizontal {
    margin: 10px;
	padding: 10px;
	border-radius: 30px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background-color: white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: palevioletred;
    border: solid 2px;
    border-color: white;
    border-radius: 30px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: white;
  }

  .hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .btns__sm {
      color: palevioletred;
      font-size: 1.2rem;
      font-weight: 1000;
      text-decoration: none;
  }

  .btns__sm:hover {
      color: white;
  }

  .row {
        width: 100vw;
  }

/* Fin index */

    .agenda {
        display: flex;
        flex-direction: column;
        margin: 100px;
        padding: 50px;
        background-color: palevioletred;
        color: whitesmoke;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }

    .agenda__h2 {
        padding: 0px 20px 20px 20px;
    }

    .calendario{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px;

    }

    .calendario__form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 250px;
        width: 250px;
        background-color: palevioletred;
        color: whitesmoke;
        font-size: 20px;
        padding: 25px;
        border-radius: 15px;
    }

    .calendario__btn {
        height: 35px;
        width: 90px;
        align-self: center;
        margin: 25px 0px 0px 0px;
        border-radius: 10px;
        background-color: whitesmoke;
        color: palevioletred;
        font-size: 20px;
    }

    .calendario__btn:hover {
        color: whitesmoke;
        background-color: violet;
    }
/* Fin de agenda */

.educate {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 50px;
    background-color: palevioletred;
    color: whitesmoke;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.educate__h2 {
    padding: 0px 20px 20px 20px;
}

/* Fin de educate */

.giftcards {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 50px;
    background-color: palevioletred;
    color: whitesmoke;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.giftcards__h2 {
    padding: 0px 20px 20px 20px;
}

.cards {
	display: flex;
	justify-content: space-around;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 20px 50px 20px;
	padding: 30px;
	border-style: solid;
	border-radius: 15px;
	border-color: rgb(243, 112, 156);
    background-color: palevioletred;
}

.card__h3 {
	padding: 0px 10px 30px 10px;
	color: whitesmoke;
}

.card__img {
    height: 100px;
}

.card__p {
	margin: 20px 0px;
	color: whitesmoke;
}

.card__btn {
	width: 70px;
	height: 30px;
	border-radius: 20px;
    background-color: whitesmoke;
}

/* Fin de giftcards */

.contactame {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 50px;
    background-color: palevioletred;
    color: whitesmoke;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
}

.contactame__h2 {
    padding: 0px 20px 20px 20px;
}

.contacto {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    color: palevioletred;
    font-size: 20px;
}

.botones {
    display: flex;
    justify-content: center;
}

.btn {
    height: 30px;
    width: 70px;
    margin: 15px;
    border-radius: 15px;
    background-color: palevioletred;
    color: whitesmoke;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: palevioletred;
    color: white;
}

.btns:hover {
    background-color: white;
    border-color: palevioletred;
    border: solid 2px;
    color: palevioletred;
}

/* Fin de contactame */

@media only screen and (max-width: 768px) {

    body { max-width: 768px;
    }

    .header {
        flex-direction: column;
    }

    .main {
        max-width: 768px;
    }

    .calendario {
        justify-content: space-between;
        margin: 50px;
        padding: 0;
    }

    .calendario__iframe{
        height: 300px;
        width: 400px;
    }

    .calendario__form {
        height: 200px;
        width: 150px;
    }
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 768px;
        height: auto;
    }
}

/* Fin de media tablet */

@media only screen and (max-width: 576px){

    body {
        max-width: 576px;
    }
    
    .header {
        max-width: 576px;
        flex-direction: column;
    }

    .header__ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main {
        max-width: 576px;
    }

    .main__section {
        max-width: 576px;
    }

    .intro {
        width: auto;
        max-width: 576px;
        margin: 0;
        padding: 0;
    }

    .intro__yo {
        max-width: 576px;
        height: auto;
    }
    .intro__texto {
        max-width: 576px;
        margin: 0px 0px 50px 0px;
        padding: 10px;
        border-radius: 0px;

    }

    .one{
        max-width: 576px;
        max-height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 100px;
    }

    .one__p {
        margin: 0;
        border-radius: 0;
    }

    .two{
        max-width: 576px;
        max-height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 100px;
    }

    .two__p {
        margin: 0;
        border-radius: 0;
    }

    .three{
        max-width: 576px;
        max-height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 100px;
    }

    .three__p {
        margin: 0;
        border-radius: 0;
    }

    .agenda{
        width: 576px;
        max-width: 576px;
        margin: 50px 0px 0px 0px;
        padding: 0%;
        background-color: whitesmoke;
        color: palevioletred;
    }

    .calendario {
        max-width: 576px;
        margin: 50px 50px 50px 50px;
        padding: 0;
        justify-content: space-evenly;
        gap: 10px;
    }

    .calendario__iframe {
        width: 300px;
    }

    .educate {
        max-width: 576px;
        margin: 0;
        background-color: whitesmoke;
        color: palevioletred;
        border-radius: 0;
    }
    
    .giftcards {
        max-width: 576px;
        margin: 0;
        background-color: whitesmoke;
        color: palevioletred;
        border-radius: 0;
    }

    .cards {
        max-width: 576px;
        flex-direction: row;
        justify-content: center;
    }

    .contactame {
        max-width: 576px;
        margin: 0;
        background-color: whitesmoke;
        color: palevioletred;
        border-radius: 0;
    }
}